
#Navbar{
    width: 75%;
    margin-left: 16%;
    position: fixed;
    background-color: white;
}
.HomePage{
    width: 81%;
    margin-top: 6%;
    margin-left: 18%;
}
.Footer{
    width: 85%;
    margin-left: 15%;
    padding-left: 2%;
}